@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins, outfit';
    
    background-color: #E2E4EB;
}

.nav-section .header .top{
    /* border: 2px solid blue; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.nav-section .header .top .line-box, .nav-section .header .top  .left-nav{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-section li{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-section li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav-section .line-box{
    gap: 30px;
}
.nav-section .top-divider{
    width: 2px;
    height: 20px;
    background-color: gray;
}
.nav-section .left-nav{
    gap: 30px;
}
.line-box li:first-child{
    background-color:#EBEEF6;
    padding: 5px 10px;
    border-radius: 5px;
}
.nav-section .lower{
    /* border: 2px solid yellow; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.nav-section .lower .right-nav{
    display: flex;
    /* border: 2px solid red; */
    width: 50%;
    justify-content: space-between;
}
.nav-section .lower .right-nav li a {
    font-weight: 600;
}
.nav-section .lower .left-nav{
    display: flex;
    /* border: 2px  solid blue; */
    align-items: center;
    width: 40%;
    justify-content: space-between;
}
.left-nav .white-space{
    /* border: 2px solid gold; */
    display: flex;
    gap: 10px;
}
.left-nav .login{
    /* border: 1px solid green; */
    line-height: 1.2;
}
.left-nav .login a{
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
.left-nav .top-price{
    display: flex;
}
.nav-section .search-box{
display: flex;
/* border: 2px solid blue; */
justify-content: space-between;
padding: 10px 20px;
align-items: center;
background-color: #1ABA1A;
border-radius: 5px;
}
.nav-section .search{
    display: flex;
    /* border: 2px solid red; */
    width: 40%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
}
.nav-section .search .categories a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.nav-section .search .input{
    /* border: 2px solid red; */
    width: 68%;
    margin-left: 20px;
}
.nav-section .search .input input{
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
.search-box .premium  a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}


.head{
    background-color: white;
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 20px 0;
    border-radius: 10px;
}

.product_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    margin: 0 10%;
    justify-content: left;

}

.product_nav a {
    text-decoration: none;
    color: rgb(167, 164, 164);
    font-size: 15px;

}

.product_nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

.product_nav ul>li {
    display: flex;
    font-size: 15px;
    gap: 20px;

}

.cell_phone_container{
    background-color: white;
    margin: 50px 0 ;
    width: 100%;
    padding: 50px;
    padding-top: 0;
    border-radius: 10px;

}

.product_cell_phone_p{
    font-size: 20px;
    line-height: 5;
    font-weight: 300;
}
.product_phone{
    display: flex;
    /* border: 2px solid chartreuse; */
    gap: 10px;
    width: 100%;
}
.product_buttons{
    margin-top: 29%;
    float: right;
    
}
.cell_phone{
    display: flex;
    /* border: 2px solid red; */
    width: 70%;
    background-image: url("/images/slider3.png.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    border-radius: 20px;
}

.cell_phone_content1{
   
    color: white;
    line-height: 1;
}

.cell_phone_content1 h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'poppins, outfit,ital'
}

.cell_phone_content1 h3{
    font-size: 30px;
    font-weight: bold;
}

.cell_phone_content1 p{
    width: 40%;
    /* border: 2px solid darkblue; */
    margin: 30px 0;
    line-height:1.5;
}

.product_button1{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 70px;
    margin-top: 30px;
    border: none;
    
}
.cell_phone2{
    background-image: url("/images/redmi_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    
}

.cell_phone_content2 h2{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    width: 70%;
    font-family: 'poppins, outfit,ital';
}

.cell_phone_content2 p{
    margin: 30px 0;
}

.product_button2{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 30px;
    border: none;
}

.product_popular_container{
    background-color: white;
    margin-bottom: 50px;
    padding: 5px 30px 30px 30px ;
    border-radius: 10px;

}
.product_popular_p{
    line-height: 5;
}
.product_boxes{
    display: block;
    /* border: 2px solid yellow; */
}
.product_popular_box_content{
    display: flex;
    width: 100%;
    /* border: 1px solid fuchsia; */
    gap: 57px;
    margin-bottom: 30px ;
}

.product_popular_content{
    display: flex;
    /* border: 1px solid slateblue; */
    gap: 90px;
    width: 20%;
}
.product_popular_content p{
    display: block;
    font-weight: 900;
}

.product_popular_content p>span{
    display: block;
    color: rgb(167, 164, 164);
}

.aside1{
    background-color: rgb(211, 216, 226);
    border-radius: 10px;
    padding: 30px 50px 30px;
}
.aside1 h2{
    font-size: 20px;
    font-weight: 900;
}
.aside1 button{
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}

.aside1 p{
    font-weight: 700;
    line-height: 5;
}
.aside1 ul{
    list-style-type: none;
    line-height: 2;
}

.aside{
    background-color: rgb(211, 216, 226);
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 30px 30px 30px;

}
.aside h2{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 40px;
}
.aside h2>span{
    font-size: 18px;
    font-weight: 100;
    padding-left: 20px;
    /* border:2px solid #1ABA1A; */

}
.aside_button{
   background-color: white; 
   padding: 10px 30px;
   border: none;
   border-radius: 10px;
   margin-bottom: 10px;
   text-align: left;
}

.aside .brand{
    margin: 40px 0 30px;
    font-weight: bold;
    display: block;
}
.brand_input{
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 50px;
    border-radius: 10px;
}
.container_by_brand{
    display: flex;

}
.checkboxes{
    display: block;

}
.checkbox{
    margin-right: 15px;
     margin-top: 9px;
    margin-bottom: 37px;
    display: block;
}

.img2{
    display: block;

}
.img{
    margin-right: 20px;
    margin-bottom: 24px;
    display: block;
    

}
.pspan{
    display: block;
line-height: 3.2;
margin-top: -16px;
margin-right: 10px;

    
}
p .brand_pspan{
    margin-top: 90px;
}

.img3{
    display: flex;
    margin-left: -10px;
/* border: 3px solid darkgoldenrod; */
}
.img4{
    height: 2px;
    width:100% ;
    /* border:2px solid #1ABA1A; */

}
.img5{
    margin-top: -10px;
    margin-right:-10px;

}
.img6{
    margin-top: -10px;
    margin-left: -10px;
}
.btn1{
    margin: 30px 0;
}
.btn2,.btn3{
    background-color: white;
    padding: 10px 0;
    width: 70px;
    border-radius: 5px;
    border: none;
    margin-right: 25px;
}
.btn3{
    margin-left: 10px;
}
.btn4{
    background-color: #1ABA1A;
    border: none;
    padding: 10px 8px;
    color: white;
    border-radius: 5px;
}
.rating_number{
    margin-bottom: 30px;
}
.rating_intup{
    margin-right: 90px;
    margin-bottom: 20px;

}
p span{
    margin-bottom: 20px;
    color: #585858;
}
.screen_button{
    margin-bottom: 30px;
}
.screen_button button{
    background-color: white;
    padding: 9px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.memory{
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}
.memory input{
    margin-right: 10px;
}
.memory_content{
line-height: 2;
}
.condition{
    margin-bottom: 30px;
    line-height: 2;
}
.condition input{
    margin-right: 20px;
}

.product_container{
    background-color: white;
    padding: 30px;
    display: flex;
}

.product_best_seller_container{
    /* border: 2px solid #1ABA1A; */
    padding-left: 15px;
    margin: 0;
}
.product_best_seller_content_boxes{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    gap: 40px;


}

.img9{
    margin-top: 200px;
}
.img7{
    margin-left: 230px;
}
.img10{
    margin: 0 auto;
}

.seller_button{
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
}
.seller_button button{
    background-color: #1ABA1A;
    color: rgba(255, 255, 255, 0.801);
    border-radius: 5px;
    border: none;
    padding: 5px 12px;
    text-align: left;
}
.seller_button button>span{
    font-size: 19px;
    color: white;
    
}

.product_span{
    color: #585858;
    line-height: 2;
    text-decoration: solid;
    padding: 100px;
    font-weight: bold;
}
.seller{
    text-decoration: solid;
    font-weight: bold;
    margin-bottom: 20px;
}
.product_number{
    color: red;
    font-size: 25px;
    text-decoration: solid;
    font-weight: bolder;
    line-height: 2;
}
.product_number>del{
    font-size: 20px;
    font-weight: 800;
    color: #9b9a9a;

}
.free{
    color: #1ABA1A;
    font-weight: bolder;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #ebe6e6;
    padding: 10px ;
    border-radius: 10px;
}
.product_best_seller{
    font-size: 23px;
    text-decoration: solid;
    font-weight: bolder;
}
.best_seller{
    background-color:rgb(221, 221, 220);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}
.pre_order,.seller_contact{
    font-size: 19px;
}

.product_popular_p{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;

}
.hr{
    margin-top: 40px;
    width: 85%;
    margin-left: 90px;
    margin-bottom: 40px;

}
.show_result{
    display: flex;
    gap: 100px;
    margin-left: 30px;
}
.show_content{
    gap: 20px;
    margin-bottom: 30px;
    /* border: 1px solid #1ABA1A; */
}
b{
    color: #adabab;
}
.show_content button{
    background-color:#f5f5f5; 
    padding: 20px 2px 20px 20px;
    border: none;
    text-align: center;
    border-radius: 10px;
}
.show_content span{
    color: #adabab;
    margin: 0 30px;
}


.show_content p{
    font-weight: bolder;
    font-size: 20px;
}
.btn7{
    background-color:#f5f5f5; 
    padding: 5px 30px;
}
.image1{
    margin-left: 70px;
    padding-right: 20px;
}

 .show_boxes{
    display: flex;
    /* border: 1px solid #1ABA1A; */
    margin-left: 30px;
    gap: 60px;
 }

 .seller_div{
    display: flex;
    gap: 100px;
    margin-bottom: 10px;
    border: 1px solid red;

 }
 .seller_div button{
        background-color: #1ABA1A;
        color: rgba(255, 255, 255, 0.801);
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        text-align: left;
 }

 .seller_div button>span{
    font-size: 19px;
    color: white;
    
}
.btn6{
    background-color: black;
    color:rgba(255, 255, 255, 0.801); 
    border-radius: 5px;
    border: none;
    padding:10px;

    text-align: left;
}
.seller{
    display: flex;
    gap: 160px;
    margin-bottom: 10px;
}
.best_GIFT{
    color: red;
    background-color: rgb(240, 225, 196);
    padding: 10px;
    border-radius: 10px;
    border:none;
}
.show{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 30px;
}
.show1{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 30px;
}
.show2{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 30px;
}
