@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins' , outfit;
    background-color: #E2E4EB;
}
.nav-section{
 /* border: 1px solid red; */
}
.nav-section .header .top{
    /* border: 2px solid blue; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.nav-section .header .top .line-box, .nav-section .header .top  .left-nav{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-section li{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-section li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav-section .line-box{
    gap: 30px;
}
.nav-section .top-divider{
    width: 2px;
    height: 20px;
    background-color: gray;
}
.nav-section .left-nav{
    gap: 30px;
}
.line-box li:first-child{
    background-color:#EBEEF6;
    padding: 5px 10px;
    border-radius: 5px;
}
.nav-section .lower{
    /* border: 2px solid yellow; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.nav-section .lower .right-nav{
    display: flex;
    /* border: 2px solid red; */
    width: 50%;
    justify-content: space-between;
}
.nav-section .lower .right-nav li a {
    font-weight: 600;
}
.nav-section .lower .left-nav{
    display: flex;
    /* border: 2px  solid blue; */
    align-items: center;
    width: 40%;
    justify-content: space-between;
}
.left-nav .white-space{
    /* border: 2px solid gold; */
    display: flex;
    gap: 10px;
}
.left-nav .login{
    /* border: 1px solid green; */
    line-height: 1.2;
}
.left-nav .login a{
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
.left-nav .top-price{
    display: flex;
}
.nav-section .search-box{
display: flex;
/* border: 2px solid blue; */
justify-content: space-between;
padding: 10px 20px;
align-items: center;
background-color: #1ABA1A;
border-radius: 5px;
}
.nav-section .search{
    display: flex;
    /* border: 2px solid red; */
    width: 40%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
}
.nav-section .search .categories a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.nav-section .search .input{
    /* border: 2px solid red; */
    width: 68%;
    margin-left: 20px;
}
.nav-section .search .input input{
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
.search-box .premium  a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}




/* --------- the first page in the home section ---------- */


.first-line-section{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 20% 58% 20%;
    gap: 15px;
    height: 73vh;
    margin-top: 20px;
    padding: 0 20px;
}
/* .first-line-section .left-sale, .first-line-section .middle-sale , .first-line-section .right-sale{
    border: 1px solid blue;
} */
.first-line-section .left-sale{
    display: flex;
    flex-direction: column;
    padding: 15px 45px;
    border-radius: 10px;
    background-color: #fff;
}
.left-sale p{
 color: red; 
 font-size: 16px;  
 font-weight: 500;
 margin-top: 30px;
}
.left-sale a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 2.15;
}
.first-line-section .middle-sale .middle-top{
    /* border: 2px solid gold; */
    height: 67%;
    padding: 40px 30px;
    background: url(/images/bg-middle.png) no-repeat;
    background-position: right;
    background-size: 100%;
    color: #fff;
    border-radius: 10px;
    position: relative;
}
.middle-top h3::first-line{
  font-weight: 300;
}
.middle-top h3{
    font-weight: 200;
    font-size: 30px;
}
.middle-top p{
    /* border: 2px solid blue; */
    width: 28%;
    margin: 20px;
    font-weight: 200;
    font-size: 14px;
}
.middle-top button{
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #fff;
    
}
 button:hover{
opacity: 0.8;
cursor: pointer;
}
.middle-top .carosel-indicator{
    /* ; */
    width: 15%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    padding: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.middle-bottom{
    /* border: 2px solid red ; */
    display: grid;
    margin-top: 16px;
    grid-template-columns: 49% 49.5%;
    height: 30%;
    gap: 15px;
}
.middle-bottom .left, .middle-bottom .right{
    /* border: 2px solid blue; */
    border-radius: 10px;
    background-position: left;
    
    padding:20px;
}
.middle-bottom .left{
    background:url(/images/middle-bottom-img1.png);
    /* background-color: #fff; */
    background-size: 100%;
    /* border: 2px solid red; */
}
.middle-bottom .left p{
    width: 34%;
    /* text-decoration: none; */
    margin-bottom:15px;
}
.middle-bottom .left a{
    color: #000;
    
}
.first-line-section .price{
    color: green;
}
.middle-bottom .right{
    background: url(/images/middle-bottom-img2.png);background-size: 100% 100%;
}
.middle-bottom .right p:first-child{
   width: 60%;
   font-size: 20px;
   font-weight:300;
   color: #EDFF00;
   line-height: 1.2;
   margin-bottom: 15px;
   /* color: red;  */
}
.middle-bottom .right p:first-child::first-line, .middle-bottom .right p{
    color: #fff;
}
.first-line-section .right-sale{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.right-sale .top, .right-sale .bottom{
    height: 49%;
    /* border: 2px solid gold; */
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
}
.right-sale .top{
    background: url(/images/right-sale-img1.png);
    background-size: 100% 100%;
}
 .right-sale .top .move p:first-child{
    line-height: 3;
    font-size: 12px;
    font-weight: 400
} 
.right-sale .top .move p{
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
}
.right-sale .top .move button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #333333;
    color: #fff;
}
.right-sale .top .move{
    position: absolute;
    right: 0;
    /* border: 1px solid red; */
    width: 50%;
}
.right-sale .bottom{
    background:url(/images/right-sale-img2.png);
    background-size: 100% 100%;
}
.right-sale .bottom p, .right-sale .bottom h3{
    color: #fff;
    width: 43%;
    /* border: 2px solid blue; */
}
.right-sale .bottom h3{
    font-size: 23px;
}
.right-sale .bottom p{
    line-height: 1.2;
    font-size: 23px;
    text-transform: capitalize;
}




/* --------------next-section-------------- */


.second-line-section{
    /* border: 2px solid red; */
    margin-top: 20px;
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    padding: 10px 20px;
    gap: 15px;
}
.second-line-section .left, .second-line-section .right{
    /* border: 2px solid rgb(0, 255, 85); */
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
}
.second-line-section .left .header, .second-line-section .right .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-line-section .left .header a, .head a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.second-line-section .left .header h3, .head h3{
    font-weight: 500;
}
.second-line-section .right .head p{
    margin-left: -300px;
    /* border: 1px solid red; */
}
.second-line-section .left .f-line-logo, .s-line-logo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 10px;
}
.second-line-section .right .f-line{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}
.f-line-logo .img, .s-line-logo .img,  .right .f-line .img{
    /* border: 2px solid green; */
    text-align: center;
    margin-top: 10px;
}
/* .f-line-logo .img, .right .f-line .img{
    margin-top: 15px;
} */
.right .f-line p{
    font-size: 14px;
    font-weight: 500;
}





/* -----------------third-section------------- */

.third-line-section{
    display: grid;
    /* background-color: red; */
    grid-template-columns: 70% 30%;
}
.third-line-section .left-sect{
    border: 2px solid rgb(229, 255, 0);
}
.left-sect .header{
    background-color: #1ABA1A;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-sect .header p{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.left-sect .header .li{
    line-height: 1;
    color: #fff;
    /* display: flex; */
    
}
.third-line-section .header li{
    list-style: none;
}
.third-line-section .middle{
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 49.5% 49.5%;
}
.third-line-section .middle .left{
    padding: 20px 30px;
    /* width: 50%; */
    /* border: 2px solid green; */
    display: flex;
    
}
.third-line-section .middle .left .prod{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 15%;
    margin-top: 30px;
}
.third-line-section .middle .left .prod img{
    width: 80%;
    margin-top: 10px;
}
.third-line-section .middle .large-prod{
    /* border: 2px solid red; */
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.third-line-section .middle .large-prod button{
   width: 30%;
   text-align: left;
   padding: 5px 10px;
   border-radius: 10px;
   border: none;
   background-color: #1ABA1A;
   color: #fff;
}
.third-line-section .middle .large-prod .images{
    /* width: 50%; */
    width: 100%;
    /* margin-left: 80px; */
}
.third-line-section .middle .large-prod .images img{
    width: 100%;
}
.third-line-section .middle .right{
    border: 2px solid red;
    padding-top: 30px;
}
.third-line-section .middle .right p:nth-child(1){
    margin-left: 40px;
    font-weight: 350;
}
.third-line-section .middle .right p:nth-child(2){
    font-weight: 600;
    text-transform: uppercase;
}
.right .l-price{
   margin-top: 20px; 
}
.third-line-section .middle .right .price-infos li{
    /* list-style:circle; */
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
    list-style-position: inside;
}
.third-line-section .middle .right .price-infos li::marker{
  color:gray;
  font-size: 20px;
}
.third-line-section .middle .right .gift a{
   background-color: #F4FCF4;
   padding: 5px 10px;
   border-radius: 10px;
   text-decoration: none ;
   
}
.third-line-section .middle .right .gift{
    margin-top: 30px;
}
